/* styles.css */
body {
    background: url('images/galaxy-background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: transparent;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}



.pc img {
    background-color: transparent;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.buy-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #2980b9;
}

footer {
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Navigation bar styles */
.navbar {
    background-color: #222;
    display: flex;
    justify-content: center; /* Horizontally center the menu */
    align-items: center; /* Vertically center the menu */
    padding: 10px 20px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 10px;
    padding: 0;
}

.navbar-menu li {
    margin: 0 15px;
}

nav {
    background-color: #222;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #3498db;
}

.get-started-button {
    background-color: #27ae60;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.get-started-button:hover {
    background-color: #219653;
}

.flex-container {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    background-color: transparent;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  .cyri-button {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cyri-button:hover {
    background-color: #2980b9;
}

.description-container {
    background-color: transparent;
}

